@use '../../assets/styles/theme.scss' as t;

.card_group {
	display: flex;
	flex-direction: column;
	padding: 4rem 0 0 0;
	width: 100%;
	gap: 1.2rem;
	& > header {
		position: relative;
		width: 100%;
		display: flex;
		padding-left: 2.4rem;
		& > h2 {
			display: flex;
			// position: absolute;
			// text-wrap: nowrap;
			// left: 50%;
			// top: 50%;
			// transform: translate(-50%, -50%);
			color: t.$on-surface-0;
		}
	}
	& > div {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
		gap: 1.2rem;
		& > .news_card > div,
		& > .favorites_card > div {
			justify-content: center;
			& > h6 {
				// text-overflow: ellipsis;
				// overflow: hidden;
				// white-space: nowrap;
				font-weight: 700;
				color: t.$on-surface-0;
			}
			& > p {
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				color: t.$on-surface-2;
				& > .star {
					color: t.$rating;
					height: 2rem;
					width: 2rem;
					flex-shrink: 0;
				}
				& > span {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					padding-left: 0.4rem;
				}
			}
		}
		& > .news_card {
			width: 100%;
		}
		& > .favorites_card {
			width: calc((100% - 1.2rem) / 2);
			& > div {
				& > h6 {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
				& > p {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}
