@use '../../../../assets/styles/theme.scss' as t;

.welcome_sheet {
	display: flex;
	flex-direction: column;
	padding: 0 3.5rem;
	height: 100%;
	background: t.$surface-2;
	& > .content {
		padding-top: 2rem;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		overflow-y: auto;
		padding-bottom: 4rem;
		& > .illustration {
			display: flex;
			// flex:1;
			align-items: center;
			justify-content: center;
			padding: 2rem 0 4rem 0;
			height: 50dvh;
			& > img {
				height: 100%;
				width: 100%;
			}
		}
		& > h2 {
			color: t.$on-surface-0;
			padding-bottom: 0.4rem;
			// text-align: center;
		}
		& > p {
			padding-bottom: 2rem;
			color: t.$on-surface-3;
			// text-align: center;
		}
	}
	& > .action {
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		width: 100%;
		padding-bottom: 3.5rem;
		&::before {
			content: '';
			position: absolute;
			height: calc(50% + 4rem);
			width: 100%;
			bottom: 50%;
			background: linear-gradient(
				color-mix(in srgb, t.$surface-2 10%, transparent),
				color-mix(in srgb, t.$surface-2 60%, transparent) 1rem,
				color-mix(in srgb, t.$surface-2 80%, transparent) 2rem,
				t.$surface-2 4rem,
				t.$surface-2
			);
			z-index: 1;
		}
		& > .call_to_action {
			z-index: 2;
			width: 100%;
		}
	}
}
