@use '../../../../assets/styles/theme.scss' as t;

.welcome_sheet {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  height: 100%;
  & > .content {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 4rem;
    & > .illustration {
      display: flex;
      // flex:1;
      align-items: center;
      justify-content: center;
      padding: 4rem 3rem 6rem 3rem;
      max-height: 50dvh;
      & > img {
        max-height: inherit;
      }
    }
    & > h2 {
      padding-bottom: 0.8rem;
      color: t.$on-surface-0;
      text-align: center;
    }
    & > p {
      padding-top: 0.8rem;
      color: t.$on-surface-1;
      text-align: center;
    }
  }
  & > .action {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    &::before {
      content: '';
      position: absolute;
      height: calc(50% + 4rem);
      width: 100%;
      bottom: 50%;
      background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.6) 1rem, rgba(255, 255, 255, 0.8) 2rem, white 4rem, white);
      z-index: 1;
    }
    & > .call_to_action {
      z-index: 2;
      width: 100%;
    }
  }
}