@use '../../../../assets/styles/theme.scss' as t;

.welcome_sheet {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  height: 100%;
  & > .content {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 4rem;
    & > .illustration {
      display: flex;
      flex:1;
      align-items: center;
      justify-content: center;
      padding: 4rem 3rem 6rem 3rem;
      max-height: 50dvh;
      & > img {
        max-height: inherit;
      }
    }
    & > h2 {
      padding-bottom: 0.8rem;
      color: t.$on-surface-0;
      text-align: center;
    }
    & > p {
      padding-top: 0.8rem;
      color: t.$on-surface-1;
      text-align: center;
    }
  }
  & > .action {
    display: flex;
    flex-shrink: 0;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    & > .call_to_action {
      width: 100%;
    }
  }
}