@use '../../assets/styles/theme.scss' as t;

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 2.6rem;
	background: t.$surface-2;
	// padding: 1.6rem;
	flex-shrink: 0;
	& > img {
		border-radius: 2.6rem 2.6rem 0 0;
	}
	& > .content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.8rem 1.6rem 1.8rem 1.6rem;
	}
}
