@use '../../assets/styles/theme.scss' as t;

.icon_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 100rem;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  & > div {
    height: 3.6rem;
    width: 3.6rem;
    border-radius: inherit;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
    }
  }
  &:active > div {
    scale: 0.92;
  }
}

.standard {
  & > div {
    background: t.$surface-3;
    & > div > * {
      color: t.$on-surface-2;
    }
  }
  &:hover > div > div {
    background: color-mix(in srgb, t.$on-surface-2 8%, transparent);
  }
  &:focus-visible > div > div {
    background: color-mix(in srgb, t.$on-surface-2 16%, transparent);
  }
}

.secondary {
  & > div {
    background: t.$secondary-1;
    & > div > * {
      color: t.$on-secondary;
    }
  }
  &:hover > div > div {
    background: color-mix(in srgb, t.$on-secondary 8%, transparent);
  }
  &:focus-visible > div > div {
    background: color-mix(in srgb, t.$on-secondary 16%, transparent);
  }
}
