@use '../../assets/styles/theme.scss' as t;

.text_button {
  display: flex;
  border-radius: 100rem;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;
  background: none;
  height: 3.2rem;
  & > div {
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    border-radius: inherit;
    color: t.$on-surface-1;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 1.2rem;
    & > p:last-child {
      position: absolute;
      transition: all 0.2s cubic-bezier(0, 0.3, 0.2, 1);
    }
  }
  &:hover > div {
    background: color-mix(in srgb, t.$on-surface-2 8%, transparent);
  }
  &:focus-visible > div {
    background: color-mix(in srgb, t.$on-surface-2 16%, transparent);
  }
  &:active > div {
    scale: 0.92;
  }
}

.active {
  background: t.$secondary-1;
  & > div {
    color: t.$on-secondary;
  }
  &:hover > div {
    background: color-mix(in srgb, t.$on-secondary 8%, transparent);
  }
  &:focus-visible > div {
    background: color-mix(in srgb, t.$on-secondary 16%, transparent);
  }
  &:active > div {
    scale: 0.92;
  }
}
