@use '../../../../assets/styles/theme.scss' as t;

.schedule_sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  & > h2 {
    color: t.$on-surface-0;
    padding-top: 1.6rem;
    text-align: center;
  }
  & > p {
    color: t.$on-surface-1;
    padding: 1.2rem 0 4rem 0;
    text-align: center;
  }
  & > .schedule {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-radius: 1rem;
    background: t.$surface-2;
    & > .schedule_line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 4.4rem;
      padding: 0 1.6rem;
      & > p {
        color: t.$on-surface-0;
      }
    }
  }
  & > h4 {
    width: 100%;
    padding: 3.2rem 1.6rem 1.2rem 1.6rem;
    color: t.$on-surface-0;
  }
  & > .contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    border-radius: 1rem;
    background: t.$surface-2;
    & > .contacts_line {
      display: flex;
      align-items: center;
      width: 100%;
      height: 4.4rem;
      padding: 0 1.6rem;
      & > p {
        display: flex;
        flex: 1;
        padding-left: 1rem;
        color: t.$on-surface-0;
        text-decoration: none;
      }
    }
  }
}
