$primary: #FFD8E5;
$primary-1: #FFEBF1;
$on-primary: #F75C8A;

$secondary: #D1E9D2;
$secondary-1: #E0F0E1;
$on-secondary: #1F7A22;

$tertiary: #CCE7F5;
$tertiary-1: #DDEFF8;
$on-tertiary: #086391;

$surface-0: #FEFFFF;
$surface-1: #F9FAFB;
$surface-2: #F6F7F9;
$surface-3: #F0F2F5;

$on-surface-0: #1D1D20;
$on-surface-1: #494950;
$on-surface-2: #62626A;
$on-surface-3: #929296;
$on-surface-4: #C7D1DC;

$outline: #EFF2F5;

$bottomsheet-handle: #C8CCCC;

$rating: #EDC41F;

$error: #FF383C;