$primary: hsl(340, 100%, 92%);
$primary-1: hsl(340, 100%, 96%);
$on-primary: hsl(340, 91%, 66%);

$secondary: hsl(124, 35%, 87%);
$secondary-1: hsl(124, 35%, 91%);
$on-secondary: hsl(124, 59%, 30%);

$tertiary: hsl(200, 67%, 88%);
$tertiary-1: hsl(200, 66%, 92%);
$on-tertiary: hsl(200, 90%, 30%);

$surface-0: hsl(240, 20%, 95%);
$surface-1: hsl(240, 20%, 97%);
$surface-2: hsl(240, 20%, 100%);
// $surface-2: hsl(220, 20%, 97%);
// $surface-3: hsl(216, 20%, 95%);

$on-surface-0: hsl(240, 4%, 10%);
$on-surface-1: hsl(240, 4%, 30%);
$on-surface-2: hsl(240, 4%, 40%);
$on-surface-3: hsl(240, 4%, 60%);
$on-surface-4: hsl(211, 4%, 70%);

$outline: #EFF2F5;

$bottomsheet-handle: #C8CCCC;

$rating: hsl(48, 80%, 60%);

$error: #FF383C;