$primary: hsl(340, 100%, 92%);
$on-primary: hsl(340, 40%, 53%);
$primary-surface-0: hsl(340, 100%, 97%);
$primary-surface-1: hsl(340, 100%, 95%);

$secondary: hsl(122, 35%, 87%);
$on-secondary: hsl(136, 41%, 25%);
$secondary-surface-0: hsl(120, 36%, 95%);
$secondary-surface-0: hsl(120, 36%, 91%);

$tertiary: hsl(200, 67%, 88%);
$on-tertiary: hsl(197, 91%, 25%);
$tetriary-surface-0: hsl(200, 67%, 95%);
$tetriary-surface-0: hsl(200, 67%, 91%);

$surface-0: hsl(60, 14%, 99%);
$surface-1: hsl(240, 17%, 98%);
$surface-2: hsl(240, 7%, 95%);
$surface-3: hsl(240, 7%, 92%);

$on-surface-0: hsl(240, 5%, 12%);
$on-surface-1: hsl(240, 4%, 30%);
