$display-large-weight: 600;
$display-large-size: 5.7rem;
$display-large-height: 6.4rem;
$display-large-spacing: -0.25px;

$display-medium-weight: 700;
$display-medium-size: 4.5rem;
$display-medium-height: 5.2rem;
$display-medium-spacing: 0;

$display-small-weight: 800;
$display-small-size: 3.4rem;
$display-small-height: 3.9rem;
$display-small-spacing: 0;

$headline-large-weight: 800;
$headline-large-size: 3.2rem;
$headline-large-height: 4rem;
$headline-large-spacing: 0;

$headline-medium-weight: 600;
$headline-medium-size: 2.8rem;
$headline-medium-height: 3.6rem;
$headline-medium-spacing: 0;

$headline-small-weight: 600;
$headline-small-size: 2.4rem;
$headline-small-height: 3.2rem;
$headline-small-spacing: 0;

$title-large-weight: 800;
$title-large-size: 2rem;
$title-large-height: 2.4rem;
$title-large-spacing: 0;

$title-medium-weight: 600;
$title-medium-size: 1.6rem;
$title-medium-height: 2rem;
$title-medium-spacing: 0.15px;

$title-small-weight: 700;
$title-small-size: 1.4rem;
$title-small-height: 2rem;
$title-small-spacing: 0.1px;

$body-large-weight: 500;
$body-large-size: 1.6rem;
$body-large-height: 2.4rem;
$body-large-spacing: 0.5px;

$body-medium-weight: 500;
$body-medium-size: 1.4rem;
$body-medium-height: 2rem;
$body-medium-spacing: 0.25px;

$body-small-weight: 500;
$body-small-size: 1.2rem;
$body-small-height: 1.6rem;
$body-small-spacing: 0.4px;

$label-large-weight: 600;
$label-large-size: 1.4rem;
$label-large-height: 2rem;
$label-large-spacing: 0.1px;

$label-medium-weight: 600;
$label-medium-size: 1.2rem;
$label-medium-height: 1.6rem;
$label-medium-spacing: 0.5px;

$label-small-weight: 500;
$label-small-size: 1.1rem;
$label-small-height: 1.6rem;
$label-small-spacing: 0.5px;
